<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Destination.com | Admin</title>
</head>
<body>
<header th:replace="fragments/header.html :: top"></header>
<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DestinationModal">
        Ajouter une nouvelle destination
    </button>

    <!-- Modal -->
    <div class="modal fade" id="DestinationModal" tabindex="-1" aria-labelledby="DestinationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="destinationModalLabel">Ajouter une nouvelle destination</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/admin/destination}" th:object="${destinations}">
                        <div class="mb-3">
                            <label for="destination-pays">Nom:</label>
                            <input type="text" id="destination-pays" name="pays" placeholder="Pays de Destination" required="required">
                            <br>
                            <label for="destination-dateDebut">Date de début:</label>
                            <input type="date" id="destination-dateDebut" name="dateDebut" placeholder="Date de début" required="required">
                            <br>
                            <label for="destination-dateFin">Date de fin:</label>
                            <input type="date" id="destination-dateFin" name="dateFin" placeholder="Date de fin" required="required">
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="destinationtable" class="table table-bordred table-striped">
                    <tr>
                        <th>Pays</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                    </tr>
                    <tbody>
                    <tr th:each=" destination : ${destinations}">
                        <td th:text="${destination.pays}">Ville</td>
                        <td th:text="${destination.dateDebut}">dateDebut</td>
                        <td th:text="${destination.dateFin}">dateFin</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>